@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: var(--primary1-color);
}
/* dark mode */
.fa-moon {
  color: var(--secondary-color);
  font-size: 20px;
  cursor: pointer;
}
:root {
  --primary-color: #0d0d0d;
  --primary1-color: #0d0d0d;
  --primary2-color: #050404ba;
  --primary3-color: #3b3b3b;
  --secondary-color: white;
}
.dark-theme {
  --primary-color: #c7c7c7;
  --primary1-color: #e3e3e3;
  --primary2-color: #ffffffc7;
  --primary3-color: #dbdada;

  --secondary-color: black;
}
.nav_bar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  text-decoration: none;
  background-color: var(--primary-color);
}
.nav_bar a {
  margin: 2rem;
  color: var(--secondary-color);
  font-size: 25px;
  text-decoration: none;
}
.nav_bar a:hover {
  color: rgb(114, 182, 221);
}
#myportfolio {
  color: var(--secondary-color);
  cursor: pointer;
  list-style: none;
  font-size: 25px;
  margin-left: 2rem;
}

.fa-bars {
  cursor: pointer;
  color: var(--secondary-color);
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42vh;
}

.one {
  width: 18rem;
  height: auto;
  border-radius: 9rem;
  -webkit-box-shadow: 0px 18px 20px -10px rgb(127 240 255 / 3%);
  -moz-box-shadow: 0px 18px 20px -10px rgba(127, 240, 255, 0);
  box-shadow: 0px 18px 20px -10px rgb(127 240 255 / 36%);
}
#img {
  width: 100%;
  height: 100%;
  border-radius: 15rem;
}
.two {
  text-align: center;
  width: 21rem;
  height: 8vh;
  margin-bottom: 13rem;
  color: var(--secondary-color);
}
.container2 {
  display: flex;

  width: 100%;
  height: 48vh;
}
.sub1 {
  background-color: var(--primary3-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.sub1 h1 {
  text-align: center;
  color: var(--secondary-color);
}
.sub-container2 {
  background-color: var(--primary1-color);
  color: var(--secondary-color);
  width: 77%;
  height: 38vh;
}
.sub-container2 h2,
h4 {
  text-align: center;
}
.sub2 {
  display: flex;
  background-color: var(--primary3-color);
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.sub2 h1 {
  color: var(--secondary-color);
  text-align: center;
}
.sub-container3 {
  width: 60%;
  height: 38vh;
}
.per {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.per .left {
  font-size: large;
  font-weight: bold;
  color: var(--secondary-color);
}

.right {
  margin-right: 5rem;
  font-weight: bold;
    color: var(--secondary-color);

}
.line {
  background-color: rgb(170, 165, 165);
  height: 7px;
  margin-top: 4px;
  border-radius: 9px;
}
.line1 {
  background-color: var(--secondary-color);
  height: 7px;
  width: 71%;
  border-radius: 9px;
}
#c {
  width: 80%;
}
#cplus {
  width: 68%;
}
#python {
  width: 50%;
}
#html {
  width: 75%;
}
#css {
  width: 57%;
}
#javascript {
  width: 45%;
}
#ui {
  width: 50%;
}
#sql {
  width: 60%;
}
@media only screen and (max-width: 972px) {
  .right {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .nav_bar a {
    font-size: 19px;
    margin: 1rem;
    text-decoration: none;
  }
}
@media screen and (max-width: 600px) {
  .nav_bar1 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .fa-bars {
    display: contents;
  }

  .nav_bar1.responsive {
    display: flex;
    position: absolute;
    width: 100%;
    top: 6rem;
    background-color: var(--primary2-color);
       color: var(--secondary-color);
    border-radius: 5%;
    height: 48vh;
    flex-direction: column;
    justify-content: center;
  }
  .nav_bar1 a {
    font-size: 21px;
    font-weight: bold;
          color: var(--secondary-color);
    margin: 26px;
  }
  .container {
    z-index: -1;
  }
  .fa-bars::before {
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 590px) {
  .sub-container2 h4 {
    font-size: 13px;
  }
  .fa-bars::before {
    font-size: 2rem;
    margin-right: 4rem;
  }
  .sub-container2 h2 {
    font-size: 23px;
  }
  .per .left {
    font-size: 13px;
  }
  .right {
    font-size: 13px;
  }
  .line {
    width: 85%;
  }
  .sub-container3 {
    width: 90%;
  }
}
@media only screen and (max-width: 527px) {
  .sub-container2 h2 {
    font-weight: bolder;
    font-size: 12px;
  }
}
@media only screen and (max-width: 400px) {
  .fa-bars::before {
    margin-right: 2rem;
  }
}
